<template>
  <v-app>
    <v-content>
      <v-container>
        <div class="indexpage">
          <div class="indexpage-controls">
            <v-select
              v-model="base"
              :items="symbols"
              label="Base"
              solo
            />
            <v-select
              v-model="selectedSymbols"
              :items="filterItems"
              label="Filter"
              multiple
              solo
            />
            <v-date-picker
              v-model="date"
              no-title
              :max="maxDate"
            />
          </div>
          <div class="indexpage-table">
            <VHTable
              :headers="tableHeaders"
              :items="tableItems"
              item-key="currency"
              full-width
              :no-data-text="noDataText"
              :loading="tableLoading"
            >
              <template v-slot:item.icon="{ item }">
                <td class="indexpage-table-currencyicon-td">
                  <div :class="`indexpage-table-currencyicon indexpage-table-currencyicon-${item.currency}`" />
                </td>
              </template>
            </VHTable>
          </div>
        </div>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import { ApiError, getRatesData } from '../api'
  import { mapState } from 'vuex'
  import { getToday, makeComputedProp } from '../utils'
  import VHTable from '../components/VHTable.vue'

  export default {
    components: {
      VHTable
    },
    data() {
      return {
        error: null,
        selectedSymbols: this.$store.state.symbols.slice(),
        maxDate: this.$store.state.date,
        tableHeaders: [
          { label: '', value: 'icon' },
          { label: 'Currency', value: 'currency' },
          { label: 'Value', value: 'value' }
        ]
      }
    },
    computed: {
      ...mapState(['symbols']),
      date: makeComputedProp('date', 'SET_DATE'),
      rates: makeComputedProp('rates', 'SET_RATES'),
      base: makeComputedProp('base', 'SET_BASE'),
      filterItems() {
        return this.symbols.filter((symbol) => symbol !== this.base)
      },
      visibleSelectedSymbols() {
        return this.selectedSymbols.filter((symbol) => symbol !== this.base).sort()
      },
      tableItems() {
        if (this.rates === null) return []
        return this.visibleSelectedSymbols.map((symbol) => ({currency: symbol, value: this.rates[symbol] || 'No data'}))
      },
      tableLoading() {
        return this.rates === null && this.error === null
      },
      noDataText() {
        if (!this.visibleSelectedSymbols.length) return 'Please select currencies.'
        else if (this.error) return this.error
        else return 'No data.'
      }
    },
    watch: {
      base() {
        this.onChangeParams()
      },
      selectedSymbols() {
        this.onChangeParams()
      },
      date() {
        this.onChangeParams()
      }
    },
    mounted () {
      this.onChangeParams()
    },
    methods: {
      onChangeParams() {
        this.maxDate = getToday() // periodically updated maxDate
        if (this.visibleSelectedSymbols.length) this.request()
      },
      request: (() => {
        let requestId = -1
        return async function() {
          requestId += 1
          const rid = requestId
          this.rates = null
          this.error = null
          try {
            const ratesData = await getRatesData({date: this.date, base: this.base})
            if (rid !== requestId) return // do nothing if there is a newer request
            this.rates = ratesData.rates
          } catch (e) {
            if (rid !== requestId) return // do nothing if there is a newer request
            if (e instanceof ApiError) this.error = e.message
            else this.error = 'Unable to retrieve data.'
          }
        }
      })()
    }
  }
</script>

<style lang="scss">
  @mixin mobile() {
    @media (max-width: 767px) {
      @content
    }
  }
  .indexpage {
    display: flex;
    @include mobile {
      display: block;
    }
  }
  .indexpage-table {
    width: 100%;
    margin-right: 15px;
    order: 1;
    @include mobile {
      margin-right: 0;
      margin-top: 30px;
    }
  }
  .indexpage-controls {
    margin-left: 15px;
    order: 2;
    @include mobile {
      margin-left: 0;
    }
  }
  $iconSize: 24px;
  .indexpage-table-currencyicon {
    width: $iconSize;
    height: $iconSize;
    background-repeat: no-repeat;
  }
  .indexpage-table-currencyicon-td {
    width: $iconSize;
  }
  @each $symbol in CNY, EUR, GBP, RUB, USD {
    .indexpage-table-currencyicon-#{$symbol} {
      background-image: url('../assets/icons/currency-#{to-lower-case($symbol)}.svg');
    }
  }
</style>
