<script>
export default {
  props: {
    fullWidth: {
      type: Boolean,
      default: false
    },
    headers: {
      required: true,
      type: Array
    },
    items: {
      required: true,
      type: Array
    },
    itemKey: {
      required: true,
      type: String
    },
    hideHeader: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    noDataText: {
      type: String,
      default: 'No data.'
    }
  },
  methods: {
    genEmpty(createElement, text) {
      return createElement('tbody', [
        createElement('tr', [
          createElement(
            'td',
            {
              attrs: { colspan: this.headers.length },
              class: 'vh-table-empty'
            },
            text
          )
        ])
      ])
    }
  },
  render(createElement) {
    const childrens = []

    if (!this.hideHeader)
      childrens.push(
        createElement('thead', [
          createElement(
            'tr',
            this.headers.map((header) => {
              return createElement('th', { key: header.label }, [header.label])
            })
          )
        ])
      )

    if (this.loading) {
      childrens.push(this.genEmpty(createElement, 'Loading...'))
    } else if (this.items.length) {
      childrens.push(
        createElement(
          'tbody',
          this.items.map((item) => {
            return createElement(
              'tr',
              { key: item[this.itemKey] },
              this.headers.map((header) => {
                const slot = this.$scopedSlots[`item.${header.value}`]
                if (slot === undefined) {
                  return createElement('td', item[header.value])
                } else {
                  return slot({ item })
                }
              })
            )
          })
        )
      )
    } else {
      childrens.push(this.genEmpty(createElement, this.noDataText))
    }
    return createElement(
      'table',
      { class: ['vh-table', { 'vh-table-fullwidth': this.fullWidth }] },
      childrens
    )
  }
}
</script>

<style lang="scss">

.vh-table {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-collapse: collapse;
}
.vh-table-empty {
  text-align: center;
}
.vh-table-fullwidth {
  width: 100%;
}
.vh-table {
  & td,
  & th {
    padding: 0 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-spacing: 0;
    height: 48px;
  }
  & th {
    text-align: left;
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
    font-weight: 600;
  }
  & tr:last-child > td {
    border-bottom: none;
  }
}
</style>
